---
import Logo from '../assets/astro.svg';
import ThemeIcon from './ThemeIcon.astro';
---

<div>

	<main>
		<section id="hero">
			
				<Logo fill="currentColor" />

				<ThemeIcon />
			
		</section>
	</main>


<style>


html.dark {
  background-color: #333;
  color: #fff;
}



.dark .nav-links a {
  color: #fff;
}


	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

</style>
